<section class="container-fluid">
	<h2>How To Book</h2>

	<table class="table-secondary">

		<div class="row">
		  <div class="col-4">STEP 1</div>
		  <div class="col-8">SELECT YOUR CAR</div>
		</div>

		<div class="row">
		  <div class="col-sm-4">STEP 2</div>
		  <div class="col-sm-4">CLICK ON "RENT NOW"</div>
		</div>

		<div class="row">
		  <div class="col-md-4">STEP 3</div>
		  <div class="col-md-4">FILL IN THE DETAILS FORM</div>
		</div>

		<div class="row">
		  <div class="col-md-4">STEP 4</div>
		  <div class="col-md-4">PROCEED PAYMENT</div>
		</div>

	</table>
</section>