<section class="container">
<h1>Car List</h1>


<div class="row">
	<% if @cars.any? %>
			<% @cars.last(6).each do |car| %>
				<section class="col-md-4 mb-3">
					<section class="card h-100">
						<% if car.photos.attached? %>					
							<%= image_tag car.photos.first, height: 300 %>
						<% end %>				
						<section class="card-body">
					    	<p class="card-text"><%= car.car_name %></p> 
					    	<p class="card-text"> RM <%= car.price %> per day</p>
					    	<%= link_to 'See Details', customer_car_path(car), class: 'btn btn-primary' %>	

							<%# add rental path here%>

						</section>
					</section>
				</section>
		<% end %>
	<%else%>
	<p>Not found. </p>

<% end %>
</section>
