.nav-item {
	color: white;
}

.fluid {
	min-height: 100vh;
}

.no-underline {
	text-decoration: none !important;
	color: white;
}

a {
	text-decoration: none !important;
}

.dropdown-menu a {
	color: white;
}

.sidebar {
	min-height: 100vh;
}
